@font-face {
    font-family: "HelveticaWorld-Bold";
    src:
        local("HelveticaWorld Bold"),
        url("./assets/fonts/HelveticaWorld-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "Helvetica";
    src:
        local("Helvetica"),
        url("./assets/fonts/HelveticaWorld-Regular.ttf") format("truetype")
}

:root {
    --font-size: 100px;
    --line-height-ratio: .78;
    --line-height-px: calc(var(--line-height-ratio) * var(--font-size));

    --small-font-size-ratio: calc(1/4);
    --small-font-size: calc(var(--font-size) * var(--small-font-size-ratio));
    --small-font-height-px: calc(var(--line-height-ratio) * var(--small-font-size));
    --small-vertical-margin: calc(1/2 * var(--small-font-height-px));

    --vertical-margin: calc(var(--small-font-height-px) + var(--small-vertical-margin));
}

body {
    font-family: "Helvetica";
    font-size: var(--font-size);
    font-weight: 700;
    line-height: var(--line-height-ratio);
    margin: 0;

    margin-left: calc(2 * var(--vertical-margin));
}

.dark-mode {
    background-color: black;
    color: white;
}

.header {
    font-size: var(--font-size);

    height: var(--line-height-px);
    margin: 0;

    font-weight: auto;

    width: calc(2 * var(--line-height-px));

    text-decoration: underline;
}

.header:hover {
    color: red;
}

.title:hover {
    color: inherit;
}


.quatrain, .couplet {
    margin-bottom: var(--vertical-margin);
    margin-top: var(--vertical-margin);
}

.couplet {
    margin-left: var(--vertical-margin);
}

.line {
    font-size: var(--small-font-size);

    height: var(--small-font-height-px);

    margin: 0;
    padding-top: var(--small-vertical-margin);
}

.title {
    text-decoration: none;
    width: calc(8 * var(--line-height-px));

    margin-bottom: calc(-1.5 * var(--small-font-height-px));
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.controls {
    position: fixed;
    bottom: 0;
    padding-top: calc(1 * var(--vertical-margin));
    padding-bottom: calc(2 * var(--vertical-margin));

    background-color: lightgray;

    padding-left: calc(2* var(--vertical-margin));
    margin-left: calc(-2* var(--vertical-margin));


    padding-right: calc(2* var(--vertical-margin));
    margin-right: calc(-2* var(--vertical-margin));
}

.dark-mode .controls {
    background-color: #444;

}

.controls-hidden .controls {
    display: none;
}


.hidden {
    display: none;
}

.text-align-right {
    text-align: right;
}

#sonnet-number-header {
    cursor: pointer;
}


.sonnet {
    padding-top: calc(4 * var(--vertical-margin));
    margin-bottom: calc(0 * var(--vertical-margin));
}

@media only screen and (max-width: 940px) {
    :root {
        --small-font-size-ratio: calc(1/4);
    }
}

@media only screen and (max-width: 720px) {
    :root {
        --font-size: 75px;
    }
}

@media screen and (max-width: 540px) {
    :root {
        --font-size: 70px;
    }
}

@media screen and (max-width: 510px) {
    :root {
        --font-size: 65px;
    }
}

@media screen and (max-width: 470px) {
    :root {
        --font-size: 60px;
    }
}

@media screen and (max-width: 435px) {
    :root {
        --font-size: 55px;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --font-size: 50px;
    }
}

@media screen and (max-width: 365px) {
    :root {
        --font-size: 45px;
    }
}

@media screen and (max-width: 330px) {
    :root {
        --font-size: 40px;
    }
}
